/* Start Componants */

.d-block {
    display: block;
  }
  
  body {
    background-color: #000;
  }
  
  .main-heading {
    text-align: center;
  }
  
  .main-heading h2 {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
    color: #000;
  }
  
  .main-heading h2::before {
    content: "";
    position: absolute;
    background-color: #000;
    left: 50%;
    bottom: -30px;
    width: 120px;
    height: 2px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  
  .main-heading h2::after {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 50%;
    bottom: -37.5px;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .main-heading p {
    margin: 0 auto 100px;
    width: 550px;
    color: var(--p-color);
    line-height: 1.5;
    max-width: 100%;
  }
  
  /* End Componants */
  /* Start Nav */
  
  nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 68px;
    background-color: #000;
    color: var(--grey-color);
    position: sticky;
    top: 0;
    z-index: 200;
  }
  
  @media (max-width: 767px) {
    nav {
      padding: 0 10px;
    }
  }
  
  nav .logo {
    transition: var(--nav-transition) ease;
    -webkit-transition: var(--nav-transition) ease;
    -moz-transition: var(--nav-transition) ease;
    -ms-transition: var(--nav-transition) ease;
    -o-transition: var(--nav-transition) ease;
  }
  
  nav .logo span {
    font-size: 25px;
    letter-spacing: 3px;
    color: var(--grey-color);
    font-weight: 600;
  }
  
  nav .logo span strong {
    color: var(--gold-color);
  }
  
  nav .nav-bar ul {
    display: flex;
    height: 100%;
  }
  
  nav .nav-bar ul li {
    height: 68px;
    position: relative;
    padding-top: 15px;
  }
  
  nav .nav-bar ul li a {
    height: 100%;
    position: relative;
    color: var(--grey-color);
    display: block;
    padding: 10px 10px;
    font-size: 14px;
    transition: calc(var(--main-transition) * 2), transform var(--nav-transition) ease;
    -webkit-transition: calc(var(--main-transition) * 2), transform var(--nav-transition) ease;
    -moz-transition: calc(var(--main-transition) * 2), transform var(--nav-transition) ease;
    -ms-transition: calc(var(--main-transition) * 2), transform var(--nav-transition) ease;
    -o-transition: calc(var(--main-transition) * 2), transform var(--nav-transition) ease;
  }
  
  nav .nav-bar ul li a:hover {
    color: var(--gold-color);
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
  }
  
  nav .nav-bar ul li a i {
    font-size: 12px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    margin-left: 5px;
  }
  
  nav .nav-bar ul li a:hover i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  
  nav .nav-bar ul .search::after {
    display: none;
  }
  
  nav .search-box {
    height: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: -68px;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.978);
    backdrop-filter: blur(8px);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
  }
  
  nav .search-box input {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: none;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: transparent;
    color: #fff;
  }
  
  nav .search-box input::placeholder {
    color: #fff;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
  }
  
  nav .search-box input:focus::placeholder {
    opacity: .2;
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }
  
  nav .exit {
    width: 35px;
    height: 35px;
    background-color: #000;
    color: #fff;
    position: absolute;
    right: 50px;
    top: 100px;
    z-index: 550;
    display: none;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 20px;
  }
  
  nav .exit:hover {
    background-color: #333;
  }
  
  @media (max-width: 991px) {
    nav .exit {
      right: 50px;
      top: 100px;
    }
  }
  @media (max-width: 767px) {
    nav .exit {
      right: 20px;
      top: 120px;
    }
    nav .search-box input {
      width: 300px;
    }
  }
  
  .nav-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 15px 40px;
    background-color: rgba(0 0 0 / 0.8);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 68px;
    z-index: 100;
    transition: var(--nav-transition) ease;
    -webkit-transition: var(--nav-transition) ease;
    -moz-transition: var(--nav-transition) ease;
    -ms-transition: var(--nav-transition) ease;
    -o-transition: var(--nav-transition) ease;
  }
  
  @media (max-width: 767px) {
    .nav-bottom {
      gap: 40px;
    }
  }
  
  .nav-bottom li a {
    color: #fff;
    font-size: 16px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
  }
  
  .nav-bottom:hover li a {
    color: gray;
  }
  
  .nav-bottom li a:hover {
    color: #fff;
  }
  
  /* End Nav ++++++++++++======================================================================================================================== */
  /* Start What To Watch */
  
  .w-to-w {
    padding: 100px 0;
    background-color: #000;
  }
  
  
  .w-to-w .container {
    padding-top: 50px;
  }
  
  .w-to-w .arrow {
    position: relative;
    margin: auto;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  
  .w-to-w .arrow h3 {
    font-size: 25px;
    font-weight: 900;
    background-color: #ffd900;
    color: #070606;
    border-radius: 20px;
  }
  
  /*  space between videos */
  .w-to-w .watch {
    display: flex;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .w-to-w .box {
    background-color: #1a1a1a;
    border-radius: 20px;
    position: relative;
    flex: 1;
  }
  
  .w-to-w .box .img-holder {
    overflow: hidden;
    position: relative;
  } 
  /* make photo take the size */
  .w-to-w .box .img-holder img {
    width: 100%;
    height: 100%;
  }
  
  
  .w-to-w .box .info {
    padding: 10px;
    text-align: center;

  }
  
  .w-to-w .box .info .name {
    padding-bottom: 15px;
    color: #fff;
  }
  
  
  .w-to-w .box .info .rate {
    color: #ffd900;
    margin-bottom: 5px;
  }
  
  .w-to-w .box .info .play,
  .w-to-w .box .info .trailer {
    text-align: center;
    margin-top: 15px;
    background-color: #ffd900;
    color: #070606;
    border-radius: 20px;
  }
  
  
  /* End What To Watch */
  